.react-calendar{

width:100%;

background:transparent;

border:none;

color:white;

font-size:15px;

}

.react-calendar__month-view__days{

gap:10px;

}

.react-calendar__tile{

padding:18px;

border-radius:8px;

transition:.3s;

}

.react-calendar__tile:hover{

background:#1e293b;

}

.present{

background:#22c55e !important;

color:white !important;

}

.absent{

background:#ef4444 !important;

color:white !important;

}

.leave{

background:#f59e0b !important;

color:white !important;

}
